@{
    ViewData["Title"] = "CIT218 Rocks";
}

<div class="text-center">
    <h1 class="display-4">Web Apps</h1>
    <p>Web Apps are Awesome!</p>
    <p><a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
</div>